#whatsapp-widget a {
    color: black;
    text-decoration: none;
}

#whatsapp-widget.ww-standard {
    display: flex;
    gap: 20px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    height: max-content;
    align-items: center;
    z-index: 99999999;
    transition: all 2s ease 0s;
}

#whatsapp-widget .ww-standard-text {
    width: 188px;
    height: 62px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.11);

    color: var(--black, #000);
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: slide 3s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#whatsapp-widget .ww-standard-icon {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    filter: drop-shadow(0px 0px 66px rgba(0, 0, 0, 0.11));
    border-radius: 16px;
    background-color: var(--green, #44C654);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: slide 3s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#whatsapp-widget .ww-standard-icon:hover {
    cursor: pointer;
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

#whatsapp-widget-extended {
    position: fixed;
    bottom: 100px; right: 20px;
    width: 450px;
    opacity: 0;
    transition: 0.3s;
}

#whatsapp-widget-extended.ww-open {
    opacity: 1;
    transition: 0.3s;
}

.ww-extended-header {
    height: 130px;
    display: inline-flex;
    padding: 24px 80px 24px 48px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px 24px 0 0;
    background-color: var(--green);
}

.ww-extended-header h3 {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ww-extended-header p {
    margin-top: 6px;
    color: #FFF;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ww-extended-body {
    flex-shrink: 0;
    padding: 0 24px;

    border-radius: 0 0 12px 12px;
    border: 0.75px solid #FFF;
    background: #FFF;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.11);
}

.ww-extended-body > p {
    margin-left: 32px;
    color: var(--text, #70607F);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ww-extended-contact {
    position: relative;
    width: 400px;
    height: 80px;
    margin: 24px auto;
    padding: 24px;

    border-radius: 0 12px 12px 0;
    background: #F5F7F9;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ww-extended-contact:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 4px;
    background-color: var(--green);
}

.ww-extended-contact:hover {
    cursor: pointer;
    background: var(--primary-bg);
}

.ww-extended-contact p {
    margin: 0;
    text-decoration: none;
}

.ww-extended-contact-name {
    color: var(--black, #1A1A1A);
    font-size: 12px;
    font-weight: 600;
    line-height: 150%; /* 17.821px */
    text-decoration: none;
}

.ww-extended-contact-title {
    color: var(--text, #70607F);
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.ww-extended-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 24px auto;
}

.ww-extended-icon {
    animation: slide 3s ease-in;

    position: relative;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    margin: 16px 0 0 auto;
    background-color: var(--green);
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.11);
    border-radius: 50%;

    display: flex;
    opacity: 1;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.ww-extended-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 25px;
    height: 0;
    border-top: 3px solid #FFF;
    opacity: 0;
    transition: 0.3s;
    /*display: none;*/
}

.ww-extended-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 25px;
    height: 0;
    border-top: 3px solid #FFF;
    opacity: 0;
    transition: 0.3s;
    /*display: none;*/
}

.ww-extended-icon.ww-icon-open svg {
    opacity: 0;
    /*display: none;*/
}

.ww-extended-icon.ww-icon-open:before {
    opacity: 1;
    /*display: flex;*/
}

.ww-extended-icon.ww-icon-open:after {
    opacity: 1;
    /*display: flex;*/
}
